<html>
  <head>
    <title>Lunch Club!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/vendor/primer-css/css/primer.css'>
    <script src='/bundle.js' async></script>
  </head>
  <body >
    <div id='content'>
      {{ app }}
    </div>
  </body>
</html>
